<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 自动扫描的实体类, 可用于mapper中的返回类型 -->
    <typeAliases>
        <package name="top.ban.common.entity" />
    </typeAliases>
</configuration>
