<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="art.banyq.persistent.dao.MsgDao">
    <select id="selectList" parameterType="msgDaoParam" resultType="Msg">
        select * from message limit #{start}, #{size}
    </select>

    <insert id="insertOne" parameterType="Msg" useGeneratedKeys="true" keyProperty="id">
        insert into message (content, userId) values
        (#{content}, #{userId})
    </insert>
</mapper>
